<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>POV Mileage Statistics</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Header -->
    <div class="jumbotron">
      <div class="text-center">
        <h1>Personally Owned Vehicle (POV) Mileage Statistics</h1>
      </div>
    </div>

    <div class="container">
      <p class="lead text-center">Statistics current as of {{ time_stamp }}.</p>

      <p class="h3 mt-4">Basic Statistics</p>
      {% block basic_stats %}

      <!-- Table for basic stats -->
      <div class="row align-items-center justify-content-center">
        <div class="col-md-4 mt-2 text-center">
          <table>
            <thead>
              <tr>
                <th scope="col">Statistic</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              {% for id, stat in basic_stats.items() %}
              <tr>
                <td>{{ stat["Name"] }}</td>
                <td>{{ stat["data"] }} {{ stat["units"] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      {% endblock %}

      <p class="h3 mt-4">Plots</p>
      {% block plots %}
      <p></p>
      <div class="row">
        {% for id, plt_data in plot_info.items() %}
        <div class="col-md-6">
          <div class="card">
            <img
              src="{{ plot_dir }}{{ plt_data['filename'] }}{{ plot_ext }}"
              class="card-img-top"
            />
            <div class="card-body">
              <p class="card-text">{{ plt_data["Desc"] }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      {% endblock %}

      <p class="h3 mt-4">Pivot Table Reports</p>
      {% block pivot_tables %}

      <div class="row">
        {% for name, htmlcode in pvt_tables.items() %}
        <div class="col-md-6 mb-4">
          <div class="card">
            <div class="card-body">
              <p class="card-title h4">{{ name }} Mileage</p>
              <div class="card-text text-right">{{ htmlcode | safe }}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      {% endblock %}

      <p class="h3 mt-4">Acknowledgements</p>
      <p>Many thanks to Stack Overflow for helping me to figure things out!</p>
    </div>

    <div class="jumbotron">
      <div class="text-center">
        <p class="lead">Proudly powered by Bootstrap 4</p>
      </div>
    </div>

    <script>
      // Automatically add Bootstrap's .table class to all tables.
      $("table").addClass("table table-sm");
    </script>
  </body>
</html>
